
/*헤더*/
@media screen and (max-width: 1200px){
  .mobileMenuBtn{
    display: flex;
  }
  .header .logo{
    padding: 1rem;
  }
  /*.navi,*/
  .header .totalMenu{
    display: none;
  }
  .footer .container{
    padding: 20px;
  }
  .naviWrap{
    z-index: 200;
  }
  .navi{
    position: fixed;
    width: 80%;
    max-width: 800px;
    height: 100%;
    right: -100%;
    top: 0;
    background: #fff;
    color: #333;
    overflow: auto;
    transition: all .5s ease-in-out 0s;
    z-index: 200;
  }
  .navi.slideOpen{
    right: 0;
  }
  .navi>ul{
    margin-top: 80px;
    flex-direction: column;
    width: 100%;
  }
  .navi>ul>li>a{
    width: 100%;
    height: auto;
    border-bottom: solid 1px #fafafa;
    transition: none;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
    font-size: 16px;
  }
  .navi>ul>li>a::after{
    content: '\e9ac';
    font-family: 'boxicons';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
  }
  .navi>ul>li>a.on::after{
    content: '\e9b9';
  }
  .navi>ul>li>a:hover{
    width: 100%;
    transition: none;
    color: #333;
  }

  .navi::before,
  .navi>ul>li>a:before,
  .header .naviWrap::after{
    display: none;
  }
  .navi .depth2{
    opacity: 1;
    position: static;
    padding: 0 !important;
    display: none;
    background: #fafafa;
  }
  .navi .depth2 a{
    display: block;
    text-align: left;
    padding-left: 40px;
    color: #888;
    font-size: 14px;
    border-bottom: dashed 1px #dcdcdc;
  }

  .header.naviOn .navi>ul>li>a{
    width: auto; 
    color: #333 !important;
  }
}


@media screen and (max-width: 530px){  
  .header{
    min-width: 100%;
    width: auto;
  }
  .header .logo a{
    height: 40px;
    background-size: contain;
  }
 
  .mobileMenuBtn{
    width: 50px;
    height: 50px;
  }

  .fixBtns{
    right: 20px;
    bottom: 20px;
  }
  .fixBtns a{
    width: 45px;
    height: 45px;
    font-size: 11px;
    border-radius: 0;
    margin-bottom: 5px;
    opacity: 1;
  }
}
