@media (max-width: 1200px) {
    .title { font-size: 16px; }
    .list .section .container ul li {
        width: calc(33.3% - 15px);
    }
}

@media (max-width: 1023px) {
    .title { font-size: 16px; }

    /*디테일 뷰*/
    .buy > .section > .container .content {
      max-width: 100%;
    }
    .buy > .section > .container .aside {
      display: none;
    }
}
 
@media (max-width: 767px) {
    .title { font-size: 14px; }  
    .list .section .container ul li {
        width: calc(33.3% - 15px);
    }    
}

@media (min-width: 480px) and (max-width: 639px) {
    .title { font-size: 12px; }
    .list .section .container ul li {
        width: calc(50% - 15px);
    }
}

@media (max-width: 576px) {
  
}

@media (max-width: 480px) {
    .title { font-size: 14px; }  
    .list .section .container ul li {
      width: calc(100% - 15px);
    }
}
 
/* @media (max-width: 639px) {
  .title { font-size: 12px; }
  .section .container ul li {
    width: calc(50% - 15px);
  }
} */